// Font Normal
@mixin font-normal {
  font-family: $font_primary;
  font-weight: $normal;
}

// Font Bold
@mixin font-bold {
  font-family: $font_primary;
  font-weight: 700;
}

// Font Extra Bold 
@mixin font-extra-bold {
  font-family: $font_primary;
  font-weight: 800;
}

@mixin btn-primary {
  font-family: $font_primary;
  font-weight: 700;
  background: $color_dark;
  border: none;
  border-radius: 128px;
  color: $color_white;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $background_gradient;
  }
}

// Breakpoint
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}