.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include media ('mobile') {
    height: auto;
  }

  .card {
    background: $color_white;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    @include media ('mobile') {
      flex-direction: column;
      width: 100%;
      border-radius: 0;
    }

    .result {
      background: $background_gradient;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 38px 54px 55px;
      border-radius: 0 32px 32px 0;

      @include media ('mobile') {
        border-radius: 0 0 32px 32px;
        padding: 24px 56px 40px;
        height: auto;
      }

      h2.title {
        color: $color_light;
        @include font-bold;
        margin: 0;
        font-size: 24px;

        @include media ('mobile') {
          font-size: 18px;
        }
      }

      .point {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: linear-gradient(
          180deg,
          #4d21c9 0%,
          rgba(37, 33, 201, 0) 100%,
          rgba(37, 33, 201, 0) 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 0 28px;

        @include media ('mobile') {
          margin: 24px;
          width: 140px;
          height: 140px;
        }

        h3 {
          @include font-extra-bold;
          color: $color_white;
          font-size: 72px;
          line-height: 1.1;
          text-align: center;

          @include media ('mobile') {
            font-size: 56px;
          }

          span.light {
            @include font-bold;
            display: block;
            font-size: 18px;
            color: $color_light;
            opacity: .52;

            @include media ('mobile') {
              font-size: 16px;
            }
          }
        }
      }

      .status {
        max-width: 260px;
        text-align: center;

        h4.title {
          @include font-bold;
          font-size: 32px;
          color: $color_white;
          margin: 0 0 14px;

          @include media ('mobile') {
            font-size: 24px;
            margin: 0 0 8px;
          }
        }

        p.desc {
          @include font-normal;
          color: $color_light;
          font-size: 18px;
          line-height: 1.3em;
          margin: 0;

          @include media ('mobile') {
            font-size: 16px;
          }
        }
      }
    }

    .summary {
      padding: 38px 40px;

      @include media ('mobile') {
        padding: 24px 32px;
      }

      h2.title {
        margin-top: 0;
        margin-bottom: 28px;
        color: $color_dark;
        font-size: 24px;
        @include font-bold;

        @include media ('mobile') {
          margin-bottom: 24px;
          font-size: 18px;
        }
      }

      &_list {
        width: 288px;
        padding: 0;
        margin: 0;

        @include media ('mobile') {
          width: 100%;
        }

        &_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px 16px;
          height: 56px;
          border: none;
          border-radius: 12px;

          &:not(:last-child) {
            margin-bottom: 16px;
          }

          .float-left {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 12px;
            font-size: 18px;

            @include media ('mobile') {
              font-size: 16px;
            }
          }

          .float-right {
            @include font-bold;
            color: $color_dark;
            font-size: 18px;

            @include media ('mobile') {
              font-size: 16px;
            }

            .pointof {
              opacity: .5;
            }
          }
        }
      }
    }
  }
}
